<!DOCTYPE html>

<html>
<head>
    <title>Hello World - Handlebars and Vert.x</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--This form will send this form synchronously to the "say-hi" action exposed by the vert.x backend.
    It will then return another HTML page to be rendered by the browser. -->
<form action="say-hi" method="post">
    <label id="first-name-label">First Name</label>
    <input id="first-name" name="first-name">
    <label id="family-name-label">Family Name</label>
    <input id="family-name" name="family-name">
    <button id="submit">Submit</button>
</form>
</body>
</html>