<!DOCTYPE html>

<html>
<head>
    <title>Say "Hi"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--An example of using the context parameters injected to this Handlebars template rendered server-side. -->
<h1>Hello {{first-name}} {{family-name}}!</h1>
</body>
</html>